$github-blue: #58a6ff;
$github-secondary: #586069;
$github-dark-blue: #24292e;
$github-red: #F9826C;
$github-inactive-grey: #959da5;
$github-dark-grey: #24292e;
$github-grey: #eaecef;
$github-btn-light: #fafbfc;
$github-transparent-grey: rgba(209, 213, 218, 50%);
$white: #fff;